.containerki{
    position: relative;
  }

.img{
    opacity: 0.6;
} 
  
#topleft{
    position: absolute;
    opacity: 0.9;
    top: 15px;
    left: 16px;
  }

#topright{
    position: absolute;
    opacity: 0.9;
    top: 15px;
    right: 16px;
  }

#center{
    padding: 5px;
    position: absolute;
    color: rgb(69, 8, 63);
    background-color: rgb(220, 87, 206);
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    top: 50%;
    left: 16px;
    right: 16px;
}

#center1{
    padding: 5px;
    position: absolute;
    color: rgb(5, 57, 8);
    background-color: rgb(55, 187, 64);
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    top: 100%;
    left: 16px;
    right: 16px;
}